<%= form_with(model: @advisor) do |form| %>
  <div class="field">
    <%= form.label :ugamyid %>
    <%= form.text_field :ugamyid %>
  </div>
  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>
  <%= form.submit %>
<% end %>