<%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ugamyid, 'UGA MyID' %>
    <%= form.text_field :ugamyid %>
  </div>

  <div class="field">
    <%= form.label :preferred_name %>
    <%= form.text_field :preferred_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :major_id %>
    <%= form.text_field :major_id %>
  </div>

  <div class="field">
    <%= form.label :advisor_id %>
    <%= form.text_field :advisor_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
