<p id="notice"><%= notice %></p>

<p>
  <strong>UGA MyID:</strong>
  <%= @student.ugamyid %>
</p>

<p>
  <strong>Preferred name:</strong>
  <%= @student.preferred_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Major:</strong>
  <%= @student.major_in %>
</p>

<p>
  <strong>Matriculation Term:</strong>
  <%= @student.start_term %>
</p>

<p>
  <strong>Graduation Term:</strong>
  <%= @student.grad_term %>
</p>

<p>
  <strong>Advisor:</strong>
  <%= @student.advisor.first_name %>
</p>

<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Academic Plan</th>-->
<!--      <th>Advised Term</th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
    <%# @student.academic_plans.each do |plan| %>
<!--      <tr>-->
<!--        <td><%#= link_to plan.academic_plan_note, student_academic_plan_path(@student, plan) %></td>-->
<!--        <td><%#= plan.advised_term.academic_term %></td>-->
<!--      </tr>-->
    <%# end %>
<!--  </tbody>-->
<!--</table>-->

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %> |
<%= link_to 'View Academic Plans', student_academic_plans_path(@student) %> |
<%= link_to 'New Academic Plan', new_student_academic_plan_path(@student) %>
