<p id="notice"><%= notice %></p>

<p>
  <strong>Preferred name:</strong>
  <%= @student.preferred_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Major:</strong>
  <%= @student.major_id %>
</p>

<p>
  <strong>Advisor:</strong>
  <%= @student.advisor_id %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
