<p id="notice"><%= notice %></p>

<p>
  <strong>Course Code:</strong>
  <%= @course.course_code %>
</p>

<p>
  <strong>Course Title:</strong>
  <%= @course.course_title %>
</p>

<p>
  <strong>Credit Hrs:</strong>
  <%= @course.credit_hrs %>
</p>

<p>
  <strong>Term Offered:</strong>
  <%= @course.term_offered %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
