<p id="notice"><%= notice %></p>

<h1>Academic Plans</h1>

<table>
  <thead>
    <tr>
      <th>Academic plan note</th>
      <th>Student</th>
      <th>Advisor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student.academic_plans.each do |academic_plan| %>
  <%# raise academic_plan.inspect %>
      <tr>
        <td><%= academic_plan.academic_plan_note %></td>
        <td><%= academic_plan.student_id %></td>
        <td><%= link_to 'Show', student_academic_plan_path(academic_plan.student, academic_plan) %></td>
        <td><%= link_to 'Edit', edit_student_academic_plan_path(academic_plan.student, academic_plan) %></td>
        <td><%= link_to 'Destroy', student_academic_plan_path(academic_plan.student_id, academic_plan), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Academic Plan', new_student_academic_plan_path %> |
<%= link_to 'Back to Student', student_path(@student) %>
